<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dodaj nowy</title>
</head>
<body>
<form action="/add" method="POST">
    <label>
        Cel:
        <input type="text" name="purpose" placeholder="Tu wpisz cel">
        Kwota:
        <input type="number" name="amount" placeholder="Tu wpisz kwotę">
        Opis:
        <input type="text" name="desc" placeholder="Tu wpisz opis">
    </label>
    <!-- <input type="submit" value="Przywitaj mnie"> -->
    <button type="submit">Dodaj do listy</button>
</form>
</body>
</html>